@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@mixin text-css($style, $weight, $size, $height, $color, $text-shadow-color) {
  font-family: 'Inter';
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  text-align: center;
  color: $color;
  text-shadow: $text-shadow-color;
}

$MKDColor: #FAD657;
$MKDTextColor: #121728;
$BGBlue: #012B71;

.banner-title{
  @include text-css(normal, bold, 64px, 82px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1)) ;
}
.banner-text{
  @include text-css(normal, normal, 22px, 35px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1)) ;
}

.solutions-link{
  text-decoration: underline;
  @include text-css(normal, 600, 18px, 35px, #005BF2, none) ;
}

.Home-banner-img{
  .Home-banner-text{
    text-transform: uppercase;
    @include text-css(normal !important, bold !important, 64px !important,82px !important, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1)) ;
  }
  .home-banner-center-text{
    @include text-css(normal !important, normal !important, 22px !important,34px !important, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1)) ;
  }
  .about-background-img-textoverlay{
    .banner-img-center{
        margin-top: 200px !important;
    }
    .banner-home-center{
      margin-top: 200px !important;
    }
  }
}

.services-text{
  margin-left: 30px;
  letter-spacing: 0.01em;
  @include text-css(normal !important, normal !important, 22px !important,35px !important, #38476C, none) ;
}
a.link-booking{
  text-decoration: underline;
  letter-spacing: 0.04em;
  @include text-css(normal, 500, 22px, 32px, #FFFFFF, none);
}
.desktp-page-padding{
  padding: 50px;
}
.footer-padding{
  padding-left: 100px;
  padding-right: 100px;
}
.header-padding{
  padding-left: 200px;
  padding-right: 200px;
}
.header-title-padding{
  padding-left: 95px;
  padding-right: 95px;
}
.footer-links, .footer-links-headquarters
{
  padding-left:0;
  list-style:none;
  .email-underline{
    text-decoration:underline;
  }
}
.heading-webapp{
  display: flex;
  padding-bottom: 20px;
  img{
    order: 1;
    float: left;
    margin-right: 20px;
  }
  h2{
    order: 2;
    float: right;
  }
}
.footer-links li, .footer-links-headquarters
{
  display:block
}
.footer-links-headquarters a
{
  letter-spacing: 0.02em;
  @include text-css(normal, normal, 16px, 18px, #FFFFFF, none) 
}
.footer-links a
{
  letter-spacing: 0.02em;
  @include text-css(normal, normal, 16px, 32px, #FFFFFF, none) ;
  
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.footer-case-study{
  background: #012B71;
  a{
    color: #FFFFFF !important;
  }
  .bold-title{
    letter-spacing: 0.02em;
    @include text-css(normal, 600, 16px, 32px, #FFFFFF, none) 
  }
  p{
    color: #FFFFFF !important;
  }
}

.social-icons
{
  text-align:right;
  padding-left:0;
  list-style:none;
  display: flex;
  margin-left: 10px;
  justify-content: center;
a{
  margin-right: 40px;
}
}

.container-more-case-studies-img{
  position: relative;
  h5{
  text-align: left !important;
  letter-spacing: 0.01em;
  @include text-css(normal, bold, 22px, 35px, #121728, none);
}
.left{
  position: absolute;
  top: 8%;
  left:0;
  // padding-left: 20px;
  // padding-right: 20px;
  transform: translateX(0);
  .btn-more-case-studies{
    margin-top: 80px;
  }
}
.right{
    position: absolute;
    top: 8%;
    left: 61%;
    // padding-left: 20px;
    // padding-right: 20px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    .btn-more-case-studies{
      margin-top: 150px;
    }
}
}

.text-block-more-case-studies{
  p{
  letter-spacing: 0.01em;
  text-align: left !important;
  @include text-css(normal, normal, 18px, 35px, #38476C, none);
}
.btn-more-case-studies{
  background: #EAF0FF;
  border: 1px solid rgba(56, 71, 108, 0.2);
  box-sizing: border-box;
  border-radius: 50px;
  @include text-css(normal, 600, 16px, 24px, #121728, none);
  margin-top: 40px;
  margin-right: 10px;
}

.text-more-case-studies-btn{
  letter-spacing: 0.01em;
  @include text-css(normal, normal, 14px, 14px, #38476C, none);
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
    }
}

.home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-see-all{
    background: #005BF2;
    border-radius: 2px;
    padding: 16px 24px;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
    border: 1px solid #005BF2;
    @include text-css(normal, 600, 18px, 24px, #EAF0FF, none);
  }
    .btn-services{
    background: #FFFFFF;;
    border: 2px solid #005BF2;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 16px 24px;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
    @include text-css(normal, 500, 18px, 24px, #005BF2, none);
  }
}

hr{
  opacity: 0.25;
  border-top: 1px solid #4D555F;
  width: 65%;
  padding-top: 30px;
} 
.more-case-studies-heading{
letter-spacing: -0.01em;
@include text-css(normal, bold, 48px, 60px, #121728, none);
}
.consultation-text{
  padding: 100px;
}

.process-heading{
  letter-spacing: -0.01em;
  text-align: left !important;
  @include text-css(normal, bold, 48px, 60px, #121728, none);
  }

.process-paragraph{
  letter-spacing: 0.01em;
  text-align: left !important;
  @include text-css(normal !important, normal !important, 22px !important, 35px !important, #38476C !important, none);
}

.padding-class{
  padding-top: 15px;
}
.padding-class-btm{
  padding-bottom: 15px;
}
.case-studies{
  .case-studies-heading{
      letter-spacing: 0.01em;
      text-align: left !important;
      // @include text-css(normal, bold, 18px, 30px, #121728, none);
      @include text-css(normal, bold, 22px, 35px, #121728, none);
  }
  a{
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    // @include text-css(normal, 500, 16px, 24px, none, none);
        @include text-css(normal, 500, 20px, 35px, #005BF2, none);
  }
  ul{
    padding-left: 18px;

    li{
      color: #005BF2;
    }
  }
  .case-studies-text{
    // @include text-css(normal, normal, 16px, 24px, #38476C, none);
        @include text-css(normal, normal, 20px, 35px, #38476C, none);
    letter-spacing: 0.01em;
  }

  .list-about-text{
    text-align: left !important;
    @include text-css(normal, normal, 20px, 35px, #38476C, none);
    letter-spacing: 0.01em;
  }
  .btnround{
    // border-radius: 100px;
    border-radius: 50px;
    // margin-bottom: 1em;
    background: #EAF0FF;
    border: 1px solid rgba(56, 71, 108, 0.2);
    color: #38476C;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
    @include text-css(normal !important, normal !important, 14px !important, 14px !important, #38476C, none);
  }
}
.services-webapp-btnround{
  // border-radius: 100px;
  border-radius: 50px;
  // margin-bottom: 1em;
  background: #EAF0FF;
  border: 1px solid rgba(56, 71, 108, 0.2);
  color: #38476C;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
  @include text-css(normal !important, normal !important, 14px !important, 14px !important, #38476C, none);
}

.banner-img-center{
  margin-top: 200px ;
}
.banner-img-center-homepage{
  margin-top: 125px ;
}

.home-img-center{
  margin-top: 200px ;
}

#navbarNav{
  justify-content: center;
}
.btn-navbar{
  justify-content: flex-end;
  background: #FAD657;
  border: 1px solid #FAD657;
  box-sizing: border-box;
  border-radius: 2px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
  @include text-css(normal, 600, 16px, 24px, #121728, none);
  letter-spacing: 0.04em;
  display: block;
}

.nav-menu{
  margin-right: 15px;
}
.banner-img::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: $BGBlue;
}

.Home-background-img{
  background: url('../images/Home-background-img.png') center center no-repeat !important;
}

.text-overlay-home-image-1{
  display: block;
  border-radius: 0px;
  background: url('../images/work-img.png') no-repeat !important;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50%;
  box-sizing: border-box;
}

.text-overlay-home-image-2{
  display: block;
  border-radius: 0px;
  border: none;
  background: url('../images/More-Case-Studies-Frame1.png') no-repeat !important;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 40%;
  box-sizing: border-box;
}

.text-overlay-case-study-image-1{
  display: block;
  border-radius: 0px;
  border: none;
  background: url('../images/More-Case-Studies-Frame2.png') no-repeat !important;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 40%;
  box-sizing: border-box;
  .btn-more-case-studies{
    margin-top: 50px !important;
  }
}

.text-overlay-case-study-image-2{
  display: block;
  border-radius: 0px;
  border: none;
  background: url('../images/More-Case-Studies-Frame1.png') no-repeat !important;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 40%;
  box-sizing: border-box;
}

.hr-footer{
  display: none;
}
.about-background-img{  
  background: url("../images/about-background-img.svg") no-repeat left -10px;
}

.home-class-intro{
  letter-spacing: 0.01em;
  text-align: left !important;
  @include text-css(normal !important, normal !important, 22px !important,35px !important, #38476C, none) ;
}
.Services-desktop-background-img{
  background: url('../images/services-desktop-background-img.png') center center no-repeat !important;
}

.services-heading{
  text-align: left !important;
}
.contact-heading{
  margin-left: 10px;
}

.services-ul{
  margin-left: 18px !important;
}

.solutions-heading{
  text-align: left !important;
  letter-spacing: -0.01em;
  @include text-css(normal !important, bold !important, 30px !important,40px !important, #121728, none) ;
}

.services-icon-hr{
  width: 100% !important;
}
.img-services{
  height: 50px;
}

.contact-form-input{
  border: 1px solid #0C143F !important;
}
.contact-btn{
  background: $BGBlue;
  color: #FFFFFF;
  border: 1px solid $BGBlue;
}
.contact-btn:hover{
  background: #FFFFFF;
  color: $BGBlue;;
}

.process-background-img{
  background: url("../images/about-background-img.svg") no-repeat !important;
}

.services-background-img{
  background: url("../images/services-background-image.svg") no-repeat right -10px;
}

.banner-img-url-case-study{
  background: url('../images/Screen Shot 2020-05-16 at 9 1.png') center center no-repeat;
}
.banner-img-url-home{
  background: url('../images/Home-background-img.png') center center no-repeat;
}
.banner-img-url-services{
  background: url('../images/services-desktop-background-img.png') center center no-repeat;
}
.banner-img-url-process{
  background: url('../images/Home-background-img.png') center center no-repeat;
}
.card-quote{
  width: 100%;
}
.banner-img{
  display: block;
  // position: relative;
  border-radius: 0px;
  border: none;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50%;
  box-sizing: border-box;
  .bitcoin-banner-img{
    display: none;
  }
  .card-title{
    @include text-css(normal, bold, 36px, 54px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
  }
  .card-text{
    @include text-css(normal, normal, 16px, 34px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
  }
  .banner-img-card-title{
    @include text-css(normal !important, bold !important, 64px !important, 82px !important,
     #FFFFFF !important, 0px 4px 4px rgba(0, 0, 0, 0.1) !important);
  }
  .banner-img-card-text{
    @include text-css(normal !important, normal !important,22px !important, 34px !important,
     #FFFFFF !important, 0px 4px 4px rgba(0, 0, 0, 0.1)!important);
  }
  .navbar{
    padding: initial;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
}

.book-appointment{
  display: none;
}
.navbar-dark .navbar-toggler {
  border:0;
}
.nav-menu-item{
  .nav-link{
    letter-spacing: 0.02em !important;
    @include text-css(normal, normal, 16px, 18px, #FFFFFF !important, none);
  }
}
.navbar-nav{
  padding-top: 13px;
  li>a::after{
    content: '';
    display: block;
    padding-top: 13px;
    margin: 0 auto;
    width: 30%;
    border-bottom: 2px solid transparent;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  li.active>a::after{
    border-bottom: 2px solid #FFFFFF;
    transform: scaleX(1);
}
}

.index-breadcrumb{
  background: none;
  display: flex;
  .index-breadcrumb-item{
    a{
      color:#38476C !important;
      text-decoration-line: underline;
      letter-spacing: 0.02em;
      @include text-css(normal !important, normal !important, 18px !important, 
      18px !important, #38476C !important, none);  
    }
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    &.active>a{
      text-decoration-line: none;
    }
  }
}

.padding-top-30{
  padding-top: 30px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-top-100{
  margin-top: 100px;
}

.img-centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.mobile-view{
  display: none !important;
}
.desktop-view{
  display: block;
}

.letusknow{
  // border: none;
  margin-bottom: 15px;
  background: #012B71;
  border-radius: 4px;
  margin: 10px;
  margin-top: 50px !important;
  .btn{
    letter-spacing: 0.04em;
    background: #FAD657;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include text-css(normal, 600, 16px, 24px, #121728, none);
  }
  .img-centre{
    padding-top: 30px;
  }
  .letusknow-title{
    text-align: left !important;
    letter-spacing: 0.1em;
    padding-top: 20px;
    @include text-css(normal, 900, 14px, 26px, #EAF0FF, none);
  }
  
  .letusknow-text{
    text-align: left !important;
    letter-spacing: 0.01em;
    padding-top: 20px;
    @include text-css(normal, normal, 18px, 35px, #FFFFFF, none);
  }
}

.how-page-title{
  letter-spacing: 0.1em;
  padding-top: 20px;
  @include text-css(normal, 900, 14px, 26px, #EAF0FF, none);
}
.how-page-text{
  letter-spacing: 0.01em;
  padding-top: 20px;
  @include text-css(normal, normal, 18px, 35px, #FFFFFF, none);
}
.how-page-para{
  display: flex;
  text-align: left !important;
  letter-spacing: 0.01em;
  padding-top: 20px;
  @include text-css(normal, normal, 22px, 35px, #38476C, none);
}
.how-page-consult{
  @include text-css(normal, 900, 14px, 26px, #EAF0FF, none);
}
.quote-btn{
  margin: 0 auto;
  display: flex;
}
.btn-how-page{
    margin: 0 auto;
    display: flex;
}
.letusknow-hr{
  display: none;
}
.more-case-studies-text{
  text-align: left !important;
  letter-spacing: 0.01em;
  @include text-css(normal, 500, 18px, 35px, #005BF2, none);
}

.mobile-app-text{
  letter-spacing: -0.01em;
  margin-left: 20px;
  @include text-css(normal !important, bold !important, 30px !important, 60px !important, #1D2D35, none);
}
.process-list{
  letter-spacing: -0.01em;
  @include text-css(normal !important, bold !important, 32px !important, 50px !important, #121728, none);
}

.btn-see-all:hover{
  background: #FFFFFF;
  color: #005BF2;
}
.btn-services:hover{
  background: #005BF2;
  color: #FFFFFF;
}
.text-third{
  margin-left: 20px !important;
}
.quote-center{
  text-align:center !important;
}
.how-page-span{
  margin-left: 20px;
  margin-top: 10px;
}
@include media-breakpoint-down(xs) {
  .letusknow{
    .letusknow-title{
      text-align: center !important;
    }
    }
  //   .more-case-studies-heading {

  // }
  .footer-padding-left{
    margin-left: 10px;
  }
  .mobile-padding-none{
    padding: 0 !important;
  }
  .mobile-margin-none{
    margin: 0 !important;
  }
  .quote-btn{
    font-size: 11px !important;
  }

  .mobile-view{
    display: block !important;
  }
  .how-page-text{
    font-size: 16px;
    line-height: 28px;
  }
  .desktop-view{
    display: none;
  }
  .container-more-case-studies-img .right{
    display: none;
  }
  .container-more-case-studies-img .left{
    display: none;
  }
  .bitcoin-banner-img{
    display: block !important;
  }
  .banner-img{
    background: $BGBlue !important;
    padding-bottom: 0px;
  }
  .case-studies{
    .case-studies-heading{
        letter-spacing: 0.01em;
        text-align: left !important;
        @include text-css(normal, bold, 18px, 30px, #121728, none);
    }
    a{
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      @include text-css(normal, 500, 16px, 24px, none, none);
    }
    ul{
      padding-left: 18px;
      li{
        color: #005BF2;
      }
    }
    .case-studies-text{
      @include text-css(normal, normal, 16px, 24px, #38476C, none);
      letter-spacing: 0.01em;
    }

    .list-about-text{
      letter-spacing: 0.01em;
      text-align: left !important;
      @include text-css(normal, normal !important, 16px !important, 28px !important, #38476C, none);
    }
    .btnround{
      border-radius: 50px;
      background: #EAF0FF;
      border: 1px solid rgba(56, 71, 108, 0.2);
      color: #38476C;
      box-sizing: border-box;
      flex: none;
      order: 0;
      align-self: center;
      margin: 10px 0px;
      @include text-css(normal !important, normal !important, 14px !important, 14px !important, #38476C, none);
    }
  }
  .img-services{
height: none;
  }
  .process-list{
    font-size: 26px !important;
    margin-left: 5px;
  }
  .process-content{
    margin-left: 10px;
  }

  .banner-img{
      margin-top: 50px;
      height: auto;
  }
 
  .book-appointment {
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: .5rem 1rem;
      background: $MKDColor;
      justify-content: center;
      a{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        white-space: nowrap;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        @include text-css(normal, 600, 16px, inherit, $MKDTextColor, none);
      }
  }

  .banner-img{
    .card-title{
      @include text-css(normal !important, bold !important, 36px !important, 54px!important,
       #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
    }
    .card-text{
      @include text-css(normal !important, normal !important, 16px !important, 34px !important,
       #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
    }
  }
    .nav-img{
      display: block;
      background: $BGBlue;
      border-radius: 0px;
      margin-top: 50px;
      .card-title{
        text-align: center;
        @include text-css(normal, bold, 36px, 54px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
      }
      .card-text{
        text-align: center;
        @include text-css(normal, normal, 16px, 34px, #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.1));
      }
      .navbar{
        padding: initial;
      }
      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
      }
    }

    .services-list-ul{
      padding-left: 0px;
      li{
        display: flex;
      }
      li>img{
        order: 1;
        width: 28px;
      }
      li>span{
        order: 2;
        text-align: left !important;
        font-size: 16px !important;
      }
    }

    .mobile-padding-none{
      padding: 0;
    }

    .consultation-text-mobile{
      padding: 30px;
    }
   
.more-case-studies{
  padding-bottom: 50px;
  .more-case-studies-heading{
    letter-spacing: -0.01em;
    text-align: left !important;
    @include text-css(normal, bold, 32px, 52px, #121728, none);
  }
  p{
    letter-spacing: 0.01em;
    text-align: left !important;
    @include text-css(normal, normal !important, 16px !important, 28px !important, #38476C, none);
  }
}

.text-third{
  margin-left: 30px !important;
}

.third-margin{
  margin-top: 10px;
}
.second-div{
  margin-top: -40px;
}
.text-overlay-home-image-1 {
  padding-bottom: 117%;
}
.text-overlay-case-study-image-1 {
  padding-bottom: 92%;
  margin-top: 80px;
}

.text-overlay-home-image-2 {
  padding-bottom: 65%;
  margin-top: 80px;
  background: url('../images/more\ cases-narrow\ 1.png') no-repeat !important;
}

.text-overlay-case-study-image-2 {
  padding-bottom: 65%;
  margin-top: 20px;
  background: url('../images/more\ cases-narrow\ 1.png') no-repeat !important;
}

.work-link{
  @include text-css(normal !important, 500 !important, 14px !important, 35px !important, #38476C, none);
}

.banner-title{
  @include text-css(normal, bold, 28px, 44px, #FFFFFF,  0px 4px 4px rgba(0, 0, 0, 0.1));
}
.banner-text{
  @include text-css(normal, normal, 10px, 20px, #FFFFFF,  0px 4px 4px rgba(0, 0, 0, 0.1));
}
.footer-padding{
  padding: 0;
}
.header-padding{
  padding: 0;
}
.header-title-padding{
  padding: 0;
}

.letusknow-hr{
  margin: 10px;
  margin-top: 70px;
  padding-top: 30px;
}

.letusknow{
  margin: 15px;
  .btn{
    width: 100%;
    @include text-css(normal, 600, 13px, 24px, #121728, none);
  }
  .letusknow-title{
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 20px;
    @include text-css(normal, 900, 14px, 26px, #EAF0FF, none);
  }
  .letusknow-text{
    letter-spacing: 0.01em;
    padding-top: 20px;
    @include text-css(normal, normal, 18px, 35px, #FFFFFF, none);
  }
  .consultation-text-services{
    padding: 0 !important;
  }
}

.more-case-studies-text{
  letter-spacing: 0.01em;
  float: right;
  @include text-css(normal, normal, 14px, 35px, #005BF2, none);
}

.how-page-para{
  display: flex;
  letter-spacing: 0.01em;
  text-align: left !important;
  @include text-css(normal, normal, 17px, 18px, #38476C, none);
}
.how-page-span{
  margin-left: 10px;
  margin-top: 10px;
}
.more-case-studies-image{
  width: 100%;
}
hr{
  width: 90%;
}
.process-paragraph{
  padding-top: 30px;
}
.about-background-img {
  margin-top: 50px;
}
.mobile-padding-50{
  margin-top: 50px;
}
.copyright-footer{
  display: flex;
  justify-content: center;
}
.mobile-padding-100{
  margin-top: 100px;
}
.margin-top-100{
  margin-top: 100px;
}
.heading-work{
  text-align: left !important;
}
.margin-top-none{
  margin-top: 0px !important;
}
.index-breadcrumb{
  display: none;
}
.process-heading{
  letter-spacing: -0.01em;
  @include text-css(normal, bold, 25px, 28px, #121728, none);
}
.letusknow{
  margin-top: 0px !important;
}
.slick-slide img {
  display: block;
  margin-left: 205px;
  width: 220px;
}
.slick-slider {
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;
}
.flex-display{
  display: flex;
  flex-direction: row-reverse;
}
.padding-bottom-none{
  padding-bottom: unset;
}
.padding-top-none{
  padding-top: unset;
}
.footer-order{
  display: flex;
  flex-direction: column-reverse;
}
.hr-footer{
    opacity: 1;
    border-top: 2px solid white;
    width: 90%;
    display: block;
}
.desktp-page-padding{
  padding: 10px;
}
}
@media only screen and (min-width: 323px) and (max-width:332px){
  .banner-img-url-home{
    padding-top: 220px;
  }
}
@media only screen and (min-width: 324px) and (max-width: 332px)
  {
  .banner-img-center{
    margin-top: 50px;
  }
  .banner-home-center{
    margin-top: 50px;
  }
  .banner-img-url-home {
    padding-top: 200px;
  }
}

@media only screen and (min-width: 333px) and (max-width: 346px){
  .banner-img-url-home {
    padding-top: 100px;
  }
  .banner-img-center{
    margin-top: 50px;
  }
  .banner-home-center{
    margin-top: 50px;
  }
}

@media only screen and (min-width: 347px) and (max-width: 355px){
  .banner-img-url-home {
    padding-top: 50px;
  }
  .banner-img-center{
    margin-top: 50px;
  }
  .banner-home-center{
    margin-top: 50px;
  }
}

@media only screen and (min-width: 356px) and (max-width: 374px){
  .banner-img-url-home {
    padding-top: 250px;
    }
  .banner-img-center{
    margin-top: 100px;
  }
  .banner-home-center{
    margin-top: 70px;
  }
  .banner-how-center{
    margin-top: 100px;
  }
  .banner-process-center{
    margin-top: 100px;
  }
  .banner-img-center-case-study{
    margin-top: 90px;
  }
  .slick-slide img {
    margin-left: 190px;
  }
  .banner-img-url-services{
    padding-top: 250px;
  }
  .banner-img-center-services{
    margin-top: 80px;
  }
  .banner-img-url-contact {
    padding-top: 260px;
}
.banner-img-url-process {
  padding-top: 250px;
}

}

@media only screen and (min-width: 375px) and (max-width: 385px){
  .banner-img-center{
    margin-top: 80px;
  }
  .banner-home-center{
    margin-top: 80px;
  }
  .banner-how-center{
    margin-top: 100px;
  }
  .banner-process-center{
    margin-top: 100px;
  }
  .banner-img-center-case-study{
    margin-top: 100px;
  }
  .banner-img-url-home {
    padding-top: 250px;
}
.banner-img-url-process {
  padding-top: 250px;
}
  .banner-img-url-services{
    padding-top: 250px;
  }
  .banner-img-url-contact{
    padding-top: 180px;
  }

}

@media only screen and (min-width: 386px) and (max-width: 420px)
  {
  .banner-img-center{
    margin-top: 100px;
  }
  .banner-img-center{
    margin-top: 140px;
  }
  .banner-home-center{
    margin-top: 120px;
  }
  .banner-how-center{
    margin-top: 170px;
  }
  .banner-process-center{
    margin-top: 150px;
  }
  .slick-slide img {
    margin-left: 245px;
  }
  .banner-img-url-home {
    padding-top: 320px;
  }
  .banner-img-url-services{
    padding-top: 320px;
  }
  .banner-img-center-services{
    margin-top: 120px;
  }
  .banner-img-url-contact {
    padding-top: 250px;
}
.banner-img-url-process {
  padding-top: 320px;
}
}

@media only screen and (min-width: 421px) and (max-width: 460px)
  {
  .banner-img-center{
    margin-top: 120px;
  }
  .banner-home-center{
    margin-top: 120px;
  }
}

@media only screen and (min-width: 461px) and (max-width: 500px)
  {
  .banner-img-center{
    margin-top: 120px;
  }
  .banner-home-center{
    margin-top: 120px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 539px)
  {
  .banner-img-center{
    margin-top: 150px;
  }
  .banner-home-center{
    margin-top: 150px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 574px)
  {
  .banner-img-center{
    margin-top: 200px;
  }
  .banner-home-center{
    margin-top: 200px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1024px)
  {
  .banner-home-center{
    margin-top: 120px;
  }
  .banner-img-center{
    margin-top: 150px;
  }
}

@media only screen and (max-width: 323px)
  {
      .banner-img-center{
        margin-top: 80px;      
      }
      .banner-img-center-services{
        margin-top: 50px;      
      }
      .banner-img-url-home {
        padding-top: 200px;
      }
      .banner-home-center{
        margin-top: 40px;      
      }
      .banner-how-center{
        margin-top: 70px;      
      }
      .banner-process-center{
        margin-top: 70px;      
      }
      .banner-img-center-case-study{
        margin-top: 75px;      
      }
      .slick-slide img {
        display: block;
        margin-left: 150px;
        width: 145px;
    }
    .banner-img-url-services{
      padding-top: 200px;
    }
    .banner-img-url-contact{
      padding-top: 250px;
    }
    .banner-img-url-process {
      padding-top: 200px;
    }
  }

@media only screen and (max-width: 374px)
  {
    .solution-img-left{
      float: none !important;
    }
    .solution-img-right{
      float: none !important;
      margin-top: 20px;
    }
}

