@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

$MKDColor: #FAD657;
$MKDTextColor: #121728;
$BGBlue: #012B71;



.bookappointment, .bannerimg {
    display: none;
}

.navbar-dark .navbar-toggler {
  border:0;
}

.mobileview{
  display: none;
}

@include media-breakpoint-down(xs) {

  .mobileview{
    display: block;
  }
    .bookappointment {
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: .5rem 1rem;
      background: $MKDColor;
      justify-content: center;
      a{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        // margin-right: 1rem;
        line-height: inherit;
        white-space: nowrap;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: $MKDTextColor;
      }
    }

    .bannerimg{
      display: block;
      background: $BGBlue;
      border-radius: 0px;
      margin-top: 50px;
      .card-title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }
      .card-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }
      .navbar{
        padding: initial;
      }
     
      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
      }
    }


// without bootstrap
// .image-box {
//   position: relative;
// }

// .image-box__background,
// .image-box__overlay {
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
// }

// .image-box__background {
//   background: var(--image-url) center center no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   z-index: 2
// }

// .image-box__overlay {
//   background: $BGBlue;

//   z-index: 1;
// }

// .image-box__content {
//   position: relative;
//   z-index: 3;
//   color: white;
//   min-height: 60vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
.padding-class{
  padding-top: 15px;
}
.padding-class-btm{
  padding-bottom: 15px;
}

.case-studies{
  .case-studies-heading{
      font-family: 'Inter';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.01em;
      color: #121728;
  }
  a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.01em;
    text-decoration-line: underline;
  }
  ul{
    padding-left: 18px;

    li{
      color: #005BF2;
    }
  }
  
  .case-studies-text{
    color: #38476C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.01em;
  }
  .btnround{
    border-radius: 100px;
    margin-bottom: 1em;
    background: #EAF0FF;
    border: 1px solid rgba(56, 71, 108, 0.2);
    color: #38476C;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}

.more-case-studies{
  padding-bottom: 50px;
  .more-case-studies-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    /* identical to box height, or 162% */

    letter-spacing: -0.01em;

    /* Dark */

    color: #121728;
  }

  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.01em;

    /* Gray */

    color: #38476C;
  }
}

.img-centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.fleximage{
  display: flex;
  // width: 200%;
}
.left{
  order:1;
}
.right{
  order:2;
  padding-left: 30px;
}
.tesingt{
  padding:10px;
  background:blue;
}

.padding-50{
  padding-top: 50px;;
}

hr{
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  border: 1px solid #4D555F;
}
.more-case-studies-hr{
  content: "";
  display: block;
  position: relative;
  width: 90%;
  border: 1px solid #4D555F;
  margin-top: 80px;
}

.more-case-studies-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  /* identical to box height, or 250% */

  letter-spacing: 0.01em;

  /* pop-blue */

  color: #005BF2;
  float: right;
}
.letusknow{
  // border: none;
  margin-bottom: 15px;
  background: #012B71;
  border-radius: 4px;
  margin: 10px;
  .btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.04em;

    /* Dark */

    color: #121728;
    background: #FAD657;
    border-radius: 2px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .img-centre{
    padding-top: 30px;
  }
  .letusknow-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    text-align: center;
    letter-spacing: 0.1em;

    /* white */

    color: #EAF0FF;
    padding-top: 20px;
  }
  .letusknow-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */

    letter-spacing: 0.01em;

    /* white-pure */

    color: #FFFFFF;
    padding-top: 20px;
  }

}

.more-case-studies-image{
  width: 100%;
}

}




@media only screen and (min-width: 326px) and (max-width: 385px)
  {
  .card-center{
    margin-top: 50px;
  }
}

@media only screen and (min-width: 386px) and (max-width: 420px)
  {
  .card-center{
    margin-top: 100px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 460px)
  {
  .card-center{
    margin-top: 120px;
  }
}

@media only screen and (min-width: 461px) and (max-width: 500px)
  {
  .card-center{
    margin-top: 120px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 539px)
  {
  .card-center{
    margin-top: 150px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 574px)
  {
  .card-center{
    margin-top: 200px;
  }
}

@media only screen and (max-width: 374px)
  {
  .float-left{
    float: none !important;
  }
  .float-right{
    float: none !important;
  }
}

